@model OnlineShoppingApp.ViewModels.ItemFormViewModel

@{
    ViewBag.Title = "Add New Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="well page-header">Add New Item</h2>

@using (Html.BeginForm("Save", "Items", FormMethod.Post, new { @id = "ItemForm", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Item.Id)
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Item.Name)
        @Html.TextAreaFor(m => m.Item.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Item.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.TextAreaFor(m => m.Item.Description, new { @class = "form-control texteditor" })
        @Html.ValidationMessageFor(m => m.Item.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Item.Price)
        @Html.TextBoxFor(m => m.Item.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Item.Price, "", new { @class = "text-danger" } )
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Item.CategoryId)
        @Html.DropDownListFor(m => m.Item.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Item.CategoryId, "", new { @class = "text-danger" })
    </div>
    <a class="js-add-url">Add picture Url</a>
    <div class="form-group js-show">
        @Html.LabelFor(m => m.Item.PictureUrl)
        @Html.TextBoxFor(m => m.Item.PictureUrl, new { @class = "form-control", placeholder = "www.webpage.com/image" })
        @Html.ValidationMessageFor(m => m.Item.PictureUrl)
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-default" href="@Url.Action("Index", "Items")">Cancel</a>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval.js")

    <script>
        $(document).ready(function () {

            $(".js-show").hide();

            $(".js-add-url").click(function () {
                $(".js-show").show();
                $(".js-add-url").hide();
            });
        });
    </script>

    <style>
        .texteditor{
            min-height: 100px;
        }
    </style>
}
