@model IEnumerable<OnlineShoppingApp.Models.Wishlist>

@{
    ViewBag.Title = "My Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="well page-header">My Wishlist</h2>

@if(!Model.Any())
{
    <br />
    <p>Your wishlist is empty.</p>
}

<div>
    <table class=" table table-responsive table-hover col-md-10">
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            @foreach (var wishlistItem in Model)
            {
                <tr>
                    <td>
                        <img src="@wishlistItem.Item.PictureUrl" style="overflow: hidden; position: relative; width:100px; height:100px;" />
                    </td>
                    <td>
                        <b>@Html.ActionLink(wishlistItem.Item.Name, "Details", new { id = wishlistItem.ItemId })</b>
                        <br />
                        <i>Category: @wishlistItem.Item.Category.Name</i>
                    </td>
                    <td>
                        <b>$@(wishlistItem.Item.Price)</b>
                        <br />
                        @Html.ActionLink("Add to cart ", "OrderNow", "ShoppingCart", new { id = wishlistItem.ItemId}, null)<span class="glyphicon glyphicon-shopping-cart"></span>
                        <br />
                        <a class="js-delete" data-wishitem-id="@wishlistItem.ItemId">Remove from wishlist </a><span class="glyphicon glyphicon-heart-empty"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".js-delete").click(function (e) {
                var button = $(e.target);
                bootbox.confirm('Are you sure you want to remove this item from your wishlist?', function (result) {
                    if (result)
                    {
                        $.ajax(
                            {
                                url: "/api/Wishlist/" + button.attr('data-wishitem-id'),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").fadeOut();
                                    toastr.success("Item successfully removed.")
                                }
                            }
                        );
                    }
                })
            });
        });
    </script>
}

